<div class="more-text-wrapper" data-more-wrapper>
  <p>Ресторан Panorama - это олицетворение европейской кухни с нотками национального колорита. Мы предлагаем
    гостям
    блюда европейской кухни и сезонное меню с фирменными блюдами от шеф-повара Алексея Муратова, стейки и закуски,
    приготовленные на открытом огне в специальной печи Josper, блюда национальной Мордовской кухни и мясную
    гастрономию собственного производства на заказ. Для маленьких гостей мы предлагаем специальное детское меню с
    развивающими интерактивами.<span class="more-text-dots" data-more-dots>...</span>
  </p>

  <br>

  <p class="more-text-text" data-more-text>
    Наш шеф-кондитер предложит вам изысканные десерты и даже торты под заказ. Также в нашем ресторане Вы
    обнаружите
    широкую винную карту, классические и авторские коктейли, домашние лимонады и настойки.

    <br>
    <br>

    В ресторане есть отдельный обеденный зал на 12 персон, а в солнечные месяцы открыта неповторимая терраса с
    прекрасным видом на город.

    <br>
    <br>
    Наш персонал сделает все возможное, чтобы ваш отдых запомнился, а желание возвращаться появлялось снова и
    снова.
  </p>

  <button type="button" class="more-text-btn" data-more-btn>Читать далее</button>
</div>