.also-offer {
  padding: 32px 0 220px;
  overflow: hidden;

  // .also-offer__cards

  &__cards {
    display: flex;
    align-items: center;
    column-gap: 24px;
    overflow-x: auto;
    overflow-y: hidden;
    /* Убираем вертикальный скролл, если он не нужен */
    scrollbar-width: none;
    /* Firefox */
    scroll-behavior: smooth;
    /* Плавная прокрутка */
    transition: scroll 0.3s ease-in-out;
    /* Плавный эффект прокрутки */

    &::-webkit-scrollbar {
      display: none;
    }
  }

  // .also-offer__card

  &__card {
    position: relative;
    min-width: 520px;
    width: 520px;
    height: 640px;
    overflow: hidden;
  }

  // .also-offer__pic

  &__pic {
    border-radius: 32px;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  // .also-offer__info

  &__info {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    width: fit-content;
    height: fit-content;
    max-width: 380px;
    min-width: 380px;
    min-height: 170px;
    padding: 20px;
    border-radius: 26px;
    background-color: var(--white-10);

    &::before {
      content: "";
      position: absolute;
      height: 100px;
      width: 90px;
      top: -100px;
      right: 0;
      border-radius: 0 60px 0 0;
      -moz-border-radius: 0 50px 0 0;
      -webkit-border-radius: 50px 0 0 0;
      -webkit-box-shadow: -40px -28px 0 0 var(--white-10);
      box-shadow: -40px -28px 0 0 var(--white-10);
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
    }

    &::after {
      content: "";
      position: absolute;
      height: 100px;
      width: 90px;
      bottom: 0;
      left: -90px;
      border-radius: 0 60px 0 0;
      -moz-border-radius: 0 26px 0 0;
      -webkit-border-radius: 26px 0 0 0;
      -webkit-box-shadow: -35px -6px 0 0 var(--white-10);
      box-shadow: -67px -59px 0 0 var(--white-10);
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }

  // .also-offer__num

  &__num {
    z-index: 1;
    font-family: var(--second-family);
    font-style: italic;
    font-weight: 400;
    font-size: 44px;
    line-height: 133%;
    color: var(--foundation-darkblue-darkblue-13);
  }

  // .also-offer__label

  &__label {
    z-index: 1;
    max-width: 300px;
    font-family: var(--second-family);
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    color: var(--foundation-darkblue-darkblue-13);
  }
}

.also-offer__cards.smooth-scroll {
  scroll-behavior: smooth;
}