.form-input {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 47px;
  padding: 8px 15px;
  padding-bottom: 0;
  background-color: var(--bg);
  border: 1px solid #96A1C5;
  border-radius: 7px;
  outline: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 170%;
  color: var(--text-dark);
  transition: border-color 0.2s;

  &::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: transparent;
  }
}

.form-group {
  position: relative;
  width: 100%;
}


.form-group .form-input:placeholder-shown~.form-label {
  top: 15px;
  left: 15px;
  cursor: text;
}


.form-group .form-label {
  position: absolute;
  top: 3px;
  left: 15px;
  display: block;
  transition: 0.2s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 150%;
  font-size: 12px;
  color: #96A1C5;
  // opacity: 0;
  pointer-events: none;
}

.form-group .form-input:focus {
  border: 1px solid #63CB75;
}

.form-group .form-input:focus~.form-label {
  position: absolute;
  top: 3px;
  left: 15px;
  transition: 0.2s;
}

/* reset input */
.form-group .form-input:required,
.form-group .form-input:invalid {
  box-shadow: none;
}



.form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  width: 100%;
  padding: 8px;
  background-color: var(--primary);
  border-radius: 7px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #F0F3FF;
}

.form-eye {
  position: absolute;
  right: 16px;
  top: 60%;
  transform: translateY(-50%);
  background-color: transparent;

  img {
    user-select: none;
    pointer-events: none;
  }
}