<div class="modal__form-group form-group">
  <input class="modal__form-input form-input" type="text" placeholder="Логин" required="">
  <label for="input" class="modal__form-label form-label">Логин</label>
</div>

<div class="modal__form-group form-group">
  <input class="modal__form-input form-input" type="password" placeholder="Пароль" required="">
  <label for="input" class="modal__form-label form-label">Пароль</label>
  <button class="form-eye" type="button"><img src="./img/eye-close.svg" alt="не видно"></button>
</div>